In [1]:
import findspark

findspark.init()

In [2]:
import pyspark

from pyspark.sql import SparkSession

spark = SparkSession.builder.getOrCreate()

df = spark.sql("select 'spark' as hello ")

df.show()

+-----+
|hello|
+-----+
|spark|
+-----+

In [3]:
from pyspark import SparkContext
sc = SparkContext.getOrCreate();

In [4]:
words = sc.parallelize (
   ["scala", 
   "java", 
   "hadoop", 
   "spark", 
   "python",
   "spark vs hadoop", 
   "pyspark",
   "pyspark and spark"]
)
counts = words.count()
print("Number of elements in RDD -> %i" % (counts))

Number of elements in RDD -> 8

In [5]:
myRDD = sc.parallelize([('SM', 18), ('VK', 24), ('SD',18), ('LPM', 25), ('Jasmine', 25), ('Aly', 26), ('Guddu', 27)])
myRDD.take(7)

[('SM', 18),
 ('VK', 24),
 ('SD', 18),
 ('LPM', 25),
 ('Jasmine', 25),
 ('Aly', 26),
 ('Guddu', 27)]

In [6]:
RDD_Hadoop = sc.textFile("wordcount.txt")
RDD_Hadoop.take(4)

['A wonderful king is Hadoop.',
 'The elephant plays well with Sqoop.',
 'But what helps him to thrive',
 'Are Impala, and Hive, And HDFS in the group.']

In [7]:
a = sc.parallelize([('a',2),('b',3)])
b = sc.parallelize([('a',9),('b',7),('c',10)])
# Performing Join operation on the RDDs
c = a.join(b)
c.collect()

[('a', (2, 9)), ('b', (3, 7))]

In [8]:
# Creating an RDD and performing a lambda function to get the sum of elements in the RDD
num_rdd = sc.parallelize(range(1,100))
num_rdd.reduce(lambda x,y: x+y)

4950

In [9]:
# Using ReduceByKey transformation to reduce the data
data_keydata_key = sc.parallelize([('a', 4),('b', 3),('c', 2),('a', 8),('d', 2),('b', 1),('d', 3)],4)
data_keydata_key.reduceByKey(lambda x, y: x + y).collect()

[('b', 4), ('c', 2), ('a', 12), ('d', 5)]

In [10]:
# Sorting the data based on a key
test = [('a', 1), ('b', 2), ('1', 3), ('d', 4), ('2', 5)]
sc.parallelize(test).sortByKey(True, 1).collect()

[('1', 3), ('2', 5), ('a', 1), ('b', 2), ('d', 4)]

In [11]:
# Performing Set Operations
rdd_a = sc.parallelize([1,2,3,4])
rdd_b = sc.parallelize([3,4,5,6,7,8,9,10])

#rdd_a.intersection(rdd_b).collect()
rdd_a.union(rdd_b).collect()

[1, 2, 3, 4, 3, 4, 5, 6, 7, 8, 9, 10]

In [12]:
rdd_a.subtract(rdd_b).collect()

[1, 2]

In [13]:
rdd_a.cartesian(rdd_b).collect()

[(1, 3),
 (1, 4),
 (1, 5),
 (1, 6),
 (1, 7),
 (1, 8),
 (1, 9),
 (1, 10),
 (2, 3),
 (2, 4),
 (2, 5),
 (2, 6),
 (2, 7),
 (2, 8),
 (2, 9),
 (2, 10),
 (3, 3),
 (3, 4),
 (3, 5),
 (3, 6),
 (3, 7),
 (3, 8),
 (3, 9),
 (3, 10),
 (4, 3),
 (4, 4),
 (4, 5),
 (4, 6),
 (4, 7),
 (4, 8),
 (4, 9),
 (4, 10)]

In [15]:

rdd_a.union(rdd_b).collect()

[1, 2, 3, 4, 3, 4, 5, 6, 7, 8, 9, 10]